@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./header.css";

html {
  scroll-behavior: smooth;
}

:root {
  /* Theme Colors */
  --primary: linear-gradient(90deg, #e83b07, #f4841a);
  --secondary: #000000;

  /* Alerts Color */
  --success: "";
  --warning: "";
  --danger: "";

  /* Font Sizes */
  --h1-font-size: "";
  --h2-font-size: "";
  --h3-font-size: "";
  --h4-font-size: "";
  --h5-font-size: "";

  --other-font-size: "";

  /* Button Styling */
  --btn-color: "";
  --btn-border-size: "";

  --btn-hover-color: "";
  --btn-hover-text-color: "";

  /* Transition */
  --transition-time: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:hover {
  transition: var(--transition-time) ease all;
}

a {
  all: unset;
}

button {
  cursor: pointer;
  background: var(--btn-color);
  border: var(--btn-border-size) solid var(--btn-color);
}

button:hover {
  background: var(--btn-hover-color);
  border: var(--btn-border-size) solid var(--btn-hover-color);
  color: var(--btn-hover-text-color);
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.success {
  background: var(--success);
}

.warning {
  background: var(--warning);
}

.danger {
  background: var(--danger);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

p,
button,
ul {
  font-size: var(--other-font-size);
}

.container {
  width: 80%;
  margin: 0 auto;
}
